.navbarLayout {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: var(--ifm-z-index-fixed);
  background-color: var(--ifm-navbar-background-color);
  box-shadow: var(--ifm-navbar-shadow);
  height: var(--ifm-navbar-height);
  display: flex;
  align-items: center;
  transition: transform 0.2s ease-in-out;
  backdrop-filter: blur(5px); /* Subtle blur effect */
}

.navbarHidden {
  transform: translateY(-100%);
}

.navbarContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--ifm-spacing-horizontal);
  max-width: var(--ifm-container-width);
  margin: 0 auto;
}

/* Mobile Sidebar Specific Styling */
.navbarSidebar {
  background-color: var(--ifm-background-color);
  z-index: var(--ifm-z-index-fixed); /* Ensure it's above other content */
}

.navbarSidebarBackdrop {
  background-color: rgba(0, 0, 0, 0.5); /* Darker backdrop */
}