.sidebar {
  width: var(--doc-sidebar-width);
  background-color: var(--ifm-background-color);
  border-right: 1px solid var(--ifm-color-gray-200);
  padding: var(--ifm-spacing-horizontal) 0;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  height: 100vh;
  z-index: var(--ifm-z-index-fixed);
  transition: all 0.2s ease-in-out;
}

[data-theme='dark'] .sidebar {
  border-right-color: var(--ifm-color-gray-800);
}

.sidebarWithHideableNavbar {
  top: var(--ifm-navbar-height);
  height: calc(100vh - var(--ifm-navbar-height));
}

.sidebarHidden {
  transform: translateX(-100%);
}

.sidebarLogo {
  padding: 1rem var(--ifm-spacing-horizontal);
  border-bottom: 1px solid var(--ifm-color-gray-200);
  margin-bottom: 1rem;
}

[data-theme='dark'] .sidebarLogo {
  border-bottom-color: var(--ifm-color-gray-800);
}